<!DOCTYPE html>
<html>
  <head>
    <title>Interface d'Admin : {{ title }}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    {% block body %}{% endblock %}
  </body>
</html>
